*,
*:after,
*:before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
    font-size: 16px;
}

h1 {
    border: 0;
    margin: 0;
}

.wrapper {
    height: 100%;
    width: 100%;
    background: url(images/background.gif);
}

.welcome-screen {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #1f1f1f;
}

.main header {
    height: 80px;
    background-color: #282828;
    padding: 1rem;
    color: #FFF;
}

.main .content {
    flex:1;
    background-color: rgba(0,0,0,0.7);
}

.main footer {
       height: 5em;
    position: relative;
    background-color: #282828;
    bottom: 10px;
    padding-top: 1rem;
}

.player-buttons {
    display:flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.right.floated {
        float: right;
    position: relative;
    /* margin-bottom: 10px !important; */
    font-weight: bold;
    bottom: 20px;
}

.clickable {
    cursor: pointer;
}

.error {
    border: 2px solid red;
}

.progress-wrapper {
    margin-top: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-wrapper span {
    color: #959595;
}

.player-progress {
    height: 8px;
    width: 700px;
    background-color: #3d3d3d;
    border-radius: 4px;
    margin-right: 6px;
    margin-left: 6px;
}

.progress-filled {
    background-color: #959595;
    height: 8px;
    border-radius: 4px;
    width: 0;

}

.main .content {
    width: 800px;
    margin: 2rem auto;
}

.list-headers {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.list-headers > div {
    width: 150px;
    display: inline-block;
}

.list-headers > div:first-child {
    width: 330px;
}

.list-headers > div:last-child {
    text-align: right;
}
.song {
    padding-top: 0.5rem;
    min-height: 30px;
    cursor: pointer;
}

.song > td{
    width: 360px;
    cursor: pointer;

}
.song-list .song {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    min-height: 30px;
    cursor: pointer;
}

.song > span {
    display: inline-block;
    width: 150px;
    overflow: hidden;
    height: 1rem;
}
.song > span:first-child {
    width: 330px;
}

.song .song-duration {
    text-align: right;
}

.song:hover {
    background-color: rgba(0,0,0,0.2) !important;
}
   

.song-length {
    text-align: right;
}

.content {
    position: relative;
}
.current-song-wrapper {
   
        position: absolute;
    bottom: 0;
    display: flex;
    margin-bottom: 10px !important;
}

.current-song-image {
   height: 70px;
    width: 100px;
    position: relative;
    top: 5px;
    margin-right: 1rem;
}
.current-song-name {
    font-size: 1.4rem;
    margin-top: 4px;
    margin-bottom: 0;
}

.current-song-album {
    margin-top: 0.4rem;
}
table.dataTable tbody tr {
    background-color: initial !important;
}
#songs_info {
    display: none;
}

#songs_filter {
    color: transparent;
        position: relative;
    top: 10px;
    right: 10px;
    border-radius: 20px;
}
#songs_filter input {
    width: 400px;
    margin-bottom: 1rem;
    font-size: 16px;
     border-radius: 7px;
    outline: none;

}
.player-buttons .fa {
    margin-right: 2rem;
}

.fa.disabled {
    color: gray;
}
label{
  color: white;
}
svg{
  position: absolute;
  display: none;
  top:200px;
  left: 100px;
}
ol{
    position: absolute;
   top: 391px;
   left: 58%;
   font-size: 13px;
   border: 1px solid;
   display:none;
}
#mood-list{
    width: 700px;
    height:324px;
    margin:2rem auto;
    margin-top: 40px;
}
#mood-list li{
    display: inline-block;
    padding:3px;
}
.back{
    cursor: pointer;
    font-size: 20px;
}
.mood{
    opacity:.8;
    cursor: pointer;
    width: 150px;
    height:150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border:1px solid white;
}
.mood span{
         background: rgba(0, 0, 0, 0.52);
    width: 100%;
    color: white;
    /* padding: 10px; */
    text-align: center;
    margin: 0px auto;
    font-weight: bold;
    font-size: 1.2rem;

}
.heading{

    text-align: center;
    position: relative;
    top:1em;
    color:white;
}
.song-heading{
     text-align: center;
    position: relative;
    top:1em;
    font-size: 20px;
}
.mood:hover{
    opacity: 1;
}
.mood1{
    background-image: url(images/joy.png);
    background-position: center;
    background-size: cover;
}
.mood2{
    background-image: url(images/song4.jpg);
    background-position: center;
}
.mood3{
    background-image: url(images/romantic.jpg);
    background-position: center;
    background-size: cover;
}
.mood4{
    background-image: url(images/roadtrip.jpg);
    background-position: center;
    background-size: cover;
}
.mood5{
    background-image: url(images/pop.jpg);
    background-position: center;
    background-size: cover;
}
.mood6{
    background-image: url(images/jazz.jpg);
    background-position: center;
    background-size: cover;
}
.mood7{
    background-image: url(images/retro.jpg);
    background-position: center;
    background-size: cover;
}
.mood8{
    background-image: url(images/edm.jpg);
    background-position: center;
    background-size: cover;
}
/*Additional classes jo js se add krte h*/
.main1{
background-image: url(images/loop.gif);
background-position: center;
background-size: cover;
}.main2{
background-image: url(images/staystrong.jpg);
background-position: center;
background-size: cover;
font-family: 'Boogaloo', cursive;
}.main3{
background-image: url(images/romantic1.gif);
background-position: center;
background-size: cover;
font-family: 'Courgette', cursive;
font-weight: normal;
}.main4{
background-image: url(images/roadtrip1.jpg);
background-position: center;
background-size: cover;
font-family: 'Fresca', sans-serif;
}
.main5{
background-image: url(images/pop1.jpg);
background-position: center;
background-size: cover;
}.main6{
background-image: url(images/jazz.jpg);
background-position: center;
background-size: cover;
}.main7{
background-image: url(images/retro.jpg);
background-position: center;
background-size: cover;
font-family: 'Aldrich', sans-serif;
}.main8{
background-image: url(images/edm2.jpg);
background-position: center;
background-size: cover;
}